@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Witty Site Name</h1>
    
    <p class="lead"></p>
    @*<p><a href="" class="btn btn-primary btn-lg pull-right ">Get My Location &raquo;</a></p>*@
    <input type="search" value="Enter your location" />
    <text>or</text>

    <input type="button" value="Get My Location" class=" btn btn-success pull-right" />
</div>

