
@{
    ViewBag.Title = "Locate";
}

<div class="jumbotron">
    <h1>Search page</h1>

    <p class="lead"></p>
    <input type="search" value="Enter your location" />
    <input type="button" value="Get My Location" class=" btn btn-success pull-right" onclick="Locate.html">

    <text>or</text>
</div>
