@model ClassProject.Models.Directions


@{
    ViewBag.Title = "SearchPost";
    string mapUrl = $"https://www.google.com/maps/embed/v1/directions?origin={Model.Origin}&destination={Model.Destination}&key=/*your api key*/";
}

<h2>Your Route To @Server.HtmlDecode(Model.Name)</h2>


<iframe width="1000" height="700" frameborder="0" style="border:3px solid #aaa"
        src="@mapUrl" allowfullscreen></iframe>

