
@{
    ViewBag.Title = "Index";
}

<h2>About</h2>
<p>Parking sucks.  Be it an event, a commute to work, or a casual visit to a city, finding a spot always causes a headache.  SmartParker utilizes networked sensors to provide its users realtime parking data.  With SmartParker, a user will be directed to a garage with vacancies.  Avoid the hassle of finding spots and let us tell you where they are!</p>

